<ol class="breadcrumb">
  <li class="breadcrumb-item success" aria-current="page">Beneficiaries</li>
</ol>

<div style="text-align: right">
  <button
    mat-button
    class="add-beneficiary-button"
    (click)="openBeneficiaryAddModal(beneficiaryContent)"
  >
    <mat-icon>add</mat-icon>
    Add Beneficiary
  </button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Relationship</th>
      <th scope="col">ID No</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let beneficiary of beneficiaries; let number = index">
    <tr>
      <th scope="row">
        {{ number + 1 }}
      </th>
      <td>{{ beneficiary.beneficiariesName }}</td>
      <td>{{ beneficiary.beneficiariesPhone }}</td>
      <td>{{ beneficiary.beneficiariesEmail }}</td>
      <td>
        <ng-container *ngIf="beneficiary.beneficiariesAddress; else noAddress">
          {{ beneficiary.beneficiariesAddress }}
        </ng-container>
        <ng-template #noAddress> _ </ng-template>
      </td>
      <td>{{ beneficiary.beneficiariesRelationship }}</td>
      <td>
        <ng-container *ngIf="beneficiary.beneficiariesIdNumber; else noAddress">
          {{ beneficiary.beneficiariesIdNumber }}
        </ng-container>
        <ng-template #noAddress> _ </ng-template>
      </td>

      <td>
        <button
          mat-button
          class="edit-button"
          color="primary"
          *ngIf="beneficiary.id"
          (click)="openEditModal(beneficiaryUpdateContent, beneficiary.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td>
        <button mat-button class="delete-button" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #beneficiaryContent let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Add Beneficiary</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <form #BeneficiaryAddForm="ngForm">
    <div class="modal-body">
      <div class="mb-3"></div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn submit-button">Add Beneficiary</button>
    </div>
  </form>
</ng-template>

<ng-template #beneficiaryUpdateContent let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Update Beneficiary</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <form #BeneficiaryAddForm="ngForm">
    <div class="modal-body">
      <div class="mb-3"></div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn submit-button">
        Update Beneficiary
      </button>
    </div>
  </form>
</ng-template>
